*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.gradle
/local.properties
.DS_Store # only needed under mac os
/build
/captures
.idea
*.apk #optional
